.btn {
  width: 140px;
  background-color: #7e7e7b;
  border-radius: 30px;
  color: black;
  padding: 0.5rem 1rem;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  
  &.github-btn {
    background-color: var(--icon);
  }

  &.live-btn {
    background-color: var(--heading);
  }
}