* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-light: #D0A589;
  --background-dark: #624D40;
  --heading:  #82D19F;
  --text:  #F2ECE5;
  --icon: #eaab6f;
  --card: #3A3B3D;
}

body {
  background-color: #D0A589;
  background: linear-gradient(45deg, #13100E, #8C6B55) fixed;
}

h1, 
h2,
h3 {
  color: #F2ECE5;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

p,
a {
  color: #F2ECE5;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;

}

img {
  max-width: 100%;
  display: block;
}

section {
  max-width: 1400px;
  margin: auto;
}

