* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-light: #D0A589;
  --background-dark: #624D40;
  --heading:  #82D19F;
  --text:  #F2ECE5;
  --icon: #eaab6f;
  --card: #474541;
  --tech: #744B48;
}

body {
  background-color: #D0A589;
  background: linear-gradient(45deg, #13100E, #8C6B55) fixed;
}

h1, 
h2,
h3,
legend {
  color: #F2ECE5;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

p,
a,
ul,
label {
  color: #F2ECE5;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;

}

img {
  max-width: 100%;
  display: block;
}

.map-img {
  max-width: 16rem;
  margin: auto;
}

section {
  max-width: 1400px;
  margin: auto;
}

.logo {
  max-width: max-content;
  margin: auto;
  padding: 2rem 2rem 0;
  font-family: "Megrim", sans-serif;
  font-size:3rem;
}

ul {
  text-decoration: none;
  color: var(--text);
  margin-left: 1rem;
}
