.flex {
  display: flex;
}

.block {
  display: block;
}

.wrap {
  flex-wrap: wrap;
}

.flex-dir-col {
  flex-direction: column;
}

.just-between {
  justify-content: space-between;
}

.just-center {
  justify-content: center;
}

.just-end {
  justify-content: end;
}

.mn {
  margin: 0;
}

.ms {
  margin: 1rem;
}

.mm {
  margin: 3rem;
}

.ml {
  margin: 5rem;
}

.mb {
  margin-bottom: 5rem;
}

.mb-s {
  margin-bottom: 1rem;
}

.mb-m {
  margin-bottom: 3rem;
}

.gapxs {
  gap: 0.5rem;
}

.gaps {
  gap: 1rem;
}

.gapm {
  gap: 2rem;
}

.gapl {
  gap: 3rem;
}

.pad-s {
  padding: 1rem;
}

.pad-top-btm-s {
  padding: 1rem 0;
}

.pad-top-btm-m {
  padding: 2rem 0;
}

.pad-top-btm-l {
  padding: 3rem 0;
}

.p-small {
  line-height: 0.7;
}

.p-big {
  line-height: 1.8;
}

.align-1st-base {
  align-items: first baseline;
}

  